 <template>
 <v-dialog v-model="dialog"  max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on" v-if="newtask">New Task</v-btn>
          <v-btn color="primary" dark fab small v-on="on" v-if="!newtask"><v-icon>edit</v-icon></v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline" v-if="newtask">New Task</span>
            <span class="headline" v-if="!newtask">Edit Task</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Name" v-model="nameedit"></v-text-field>
                </v-col>
                
                <v-col cols="12" sm="6" md="4">
                  <v-combobox
                    label="Type"
                    v-model="typeedit"
                    :items="types"
                ></v-combobox>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Ticket" v-model="ticketedit"></v-text-field>
                </v-col>
                
                
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text v-if="newtask" @click="dialog = false;createNewTask()">Create</v-btn>
            <v-btn color="blue darken-1" text v-if="!newtask" @click="dialog = false;editTask()">Update</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</template>

<script>
export default {
    props: {
        newtask: Boolean,
        taskid: String,
        name: String,
        ticket: String,
        type: String
    },
    data() {
    return {
      dialog: false,
      types: [
          "Other",
          "Service Now",
          "Jira"
      ],
      nameedit: "",
      ticketedit: "",
      typeedit: ""
    };
    },
    beforeMount: function() {
        var self = this;
        if (self.name) {
            self.nameedit = self.name;
        } else {
            self.nameedit = ""
        }
        if (self.ticket) {
            self.ticketedit = self.ticket;    
        } else {
            self.ticketedit = ""
        }
        
        if (self.type) {
            self.typeedit = self.type;    
        } else {
            self.typeedit = "";
        }
        
    },
    mounted: function() {
      var self = this;
  },
  methods: {
    createNewTask: function () {
      var self = this;
      window.backend.Server.NewTask(self.nameedit, self.typeedit, self.ticketedit)
    }, 
    editTask: function () {
      var self = this;
      
        window.backend.Server.UpdateTask(self.taskid, self.nameedit, self.typeedit, self.ticketedit)    
      
      
    }
  }
};
</script>

