<template>
  <v-card
    @click.native="toggleActive()"
    :color="active ? 'success' : ''"
    :loading="active ? 'success' : ''"
    dark>
      <div class="overline mb-4">{{ ticket }}</div>
      <v-card-title>{{ name }}</v-card-title>
      <v-card-subtitle>{{ workLogged }}</v-card-subtitle>
      <task-dialog
      v-bind:taskid="taskid"
      v-bind:name="name"
      v-bind:type="type"
      v-bind:ticket="ticket"
      ></task-dialog>
</v-card>
</template>

<script>

import * as Wails from '@wailsapp/runtime';
import TaskDialog from "./TaskDialog.vue";



export default {
  props: {
    taskid: String,
    name: String,
    ticket: String,
    type: String
    },
  components: {
    TaskDialog
  },
  data() {
    return {
      workLogged: "test",
      active: false
    };
  },
   mounted: function() {
    var self = this;
    window.backend.Server.GetTaskWorkLoggedToday(self.taskid).then(l => {
      self.workLogged = l;
    });
    Wails.Events.On("worklog_update_"+self.taskid, worklog => {
      if (worklog) {
        self.workLogged = worklog;
      }
    })
    Wails.Events.On("worklog_active_"+self.taskid, activated => {
        self.active = activated;
    })

  },
  methods: {
    toggleActive: function () {
      var self = this;
      if (self.active) {
        window.backend.Server.StopIfStartedTaskWorkLog(self.taskid)
      } else {
        window.backend.Server.StartTaskWorkLog(self.taskid)
      }
    }
  }
};
</script>

