<template>
<v-content>
    <v-container>
    <task-item
    v-for="task in tasks"
    :key="task.ID"
    v-bind:name="task.Name"
    v-bind:type="task.Type"
    v-bind:ticket="task.Ticket"
    v-bind:taskid="task.ID"
    class="mx-auto"
    max-width="500"
    ></task-item>
    </v-container>

    <task-dialog newtask></task-dialog>
</v-content>
</template>

<script>

import * as Wails from '@wailsapp/runtime';

import TaskItem from "./TaskItem.vue";
import TaskDialog from "./TaskDialog.vue";


export default {
  data() {
    return {
      tasks: []
    };
  },
  components: {
    TaskItem,
    TaskDialog
  },
  mounted: function() {
    var self = this;
      window.backend.Server.GetTasks().then(tasks => {
        self.tasks = tasks;
      });
     Wails.Events.On("update_task_list", tasks => {
        self.tasks = tasks;
    })
  }
};
</script>

