<template>
  <v-app id="inspire" dark>
    <task-list></task-list>
    <v-footer app fixed>
      <span style="margin-left:1em">&copy; You</span>
    </v-footer>
  </v-app>
</template>

<script>
import TaskList from "./components/TaskList.vue";

export default {
  data: () => ({
    drawer: false
  }),
  components: {
    TaskList
  },
  props: {
    source: String
  }
};
</script>
